.card{
	position: relative;
	width: max-content;
	height: 400px;
	margin: 20px 0;
	box-sizing: border-box;
	overflow: hidden;
	-webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
	border-radius: 20px;
}

.card__box{
    position: relative;
	width: 280px;
	height: 400px;
	margin: 20px 0;
	margin: 40px;
	box-sizing: border-box;
	overflow: hidden;

}

.card__image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 80%;
	background: #000;
	object-fit: contain;
	clip-path: circle(400px at center 100px);
	transition: 0.5s;
	transition-delay: 0.5s;
}

.card__box:hover .card__image{
    clip-path: circle(100px at center 100px);
	transition-delay: 0s;
}

.card__image > img{
	position: absolute;
	border-radius: 20px;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card__content{
    position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 55%;
	padding: 20px;
	box-sizing: border-box;
	text-align: center;
}

.card__content > h2{
    margin-top: 20px;
    margin-bottom: 20px;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	font-size: 1.5rem;
}

.card__content h2 ,
.card__content button{
    opacity: 0;
	transition: 0.5s;
	transform: translateY(20px);
}

.card__options{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.card__options > button {
	padding: 12px;
	border-radius: 10px;
	border: none;
	cursor: pointer;
}

.live-button{
	background-color: #ED82D9 !important;
	color: white !important;
	text-transform: inherit !important;
}

.repo-button{
	background-color: #007C7F !important;
	color: white !important;
	text-transform: inherit !important;
}

.card__box:hover .card__content h2{
    opacity: 1;
	transform: translateY(0);
	transition-delay: 0.5s
}

.card__box:hover .card__content button{
    opacity: 1;
	transform: translateY(0);
	transition-delay: 0.7s
}
